
Complication/.DS_Store

Complication/Complication.xcodeproj/project.xcworkspace/xcuserdata/spencer.xcuserdatad/UserInterfaceState.xcuserstate

Complication/Complication.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Complication/Complication.xcodeproj/xcuserdata/spencer.xcuserdatad/xcschemes/Complication.xcscheme

Complication/Complication.xcodeproj/xcuserdata/spencer.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
